requests
cloudscraper
bs4 
python-dotenv
kurigram==2.2.0
PyroTgCrypto==1.2.7
lxml
cfscrape
urllib3==1.26
flask
gunicorn
curl-cffi
urlextract
Flask==2.2.2
gunicorn==20.1.0
aiohttp==3.8.1
